<div class="recipe-filter">
  <div class="search">
    <input type="text">
  </div>
  <ul class="filter">
    <li>
      <a>Cuisine</a>
      <ul class="secondary">
        <li><a>Chinese</a></li>
        <li><a>Mexican</a></li>
        <li><a>Lebonese</a></li>
        <li><a>Saudi</a></li>
        <li><a>Hick</a></li>
      </ul>
    </li>

    <li>
      <a>Course</a>
      <ul class="secondary">
        <li><a>Breakfast</a></li>
        <li><a>Lunch</a></li>
        <li><a>Dinner</a></li>
        <li><a>Appetizer</a></li>
        <li><a>Desert</a></li>
      </ul>
    </li>

    <li>
      <a>Dish</a>
      <ul class="secondary">
        <li><a>Bread</a></li>
        <li><a>Cat</a></li>
        <li><a>Dog</a></li>
        <li><a>Dolphin</a></li>
        <li><a>Hick</a></li>
      </ul>
    </li>
  </ul>
</div>
