

<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe is long</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe is long</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe is</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>


<div class="recipe-teaser">
  <img src="http://lorempixel.com/500/500/food">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>
