

<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>



<div class="recipe-teaser">
  <img src="http://placekitten.com/200/200">
  <h2>Title of Recipe</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comment</button>
    <span class="rating">###00</span>
  </aside>
</div>
