<div class="recipe-teaser" ng-repeat="recipe in recipes.list">
  <img src="http://lorempixel.com/500/500/food">
  <h2>{{recipe.title}}</h2>
  <aside class="comments">
    <span class="comment-count">5</span>
    <button>Comments</button>
    <span class="rating">###00</span>
  </aside>
</div>



