<header>
  <img src="http://placehold.it/1600x450&text=Red Robot Kitchen">
</header>

<div id="main">

  <div data-ng-include="'/views/partials/recipe_filter.html'">
       </div >
  <div data-ng-include="'/views/partials/recipe_teaser.html'">
       </div >
   <div data-ng-include="'/views/partials/submit_recipe.html'">
         </div >
  <div data-ng-include="'/views/partials/load_more_button.html'">
       </div >

</div>

<footer>
<data-ng-include
       src="'/views/partials/footer.html'">
     </data-ng-include>

</footer>
