.recipe-teaser{
	margin-bottom:1em;
	background: #e7e7e7;
	position: relative;
	img{
		width: 100%;
		height: auto;
	}
	h2{
		font-size: 1em;
		text-align: center;
		position: absolute;
		bottom: 20%;
		left: 0;
		right: 0;
		padding: .5em;
		background:	rgba(255, 255, 255, 0.75)
	}
	.comments{
	padding:.5em 2em;
	}
}
