<ul class="recipe-teasers">
  <li class="recipe-teaser" data-ng-repeat="recipe in recipes.list | orderBy:'title' | filter:recipe">
    <div><a href="#/recipe/{{ recipe.nid }}">
      <img data-ng-show="recipe.field_recipe_photos.length !== 0" data-ng-src="{{getImage(recipe)}}"></a>
      <h2>{{recipe.title}}</h2>
      <aside class="comments">
        <span class="comment-count">5</span>
        <a href="#">Comment</a>
        <span class="rating">{{ recipe.nid }}</span>
      </aside>
    </div>
  </li>
</ul>
